
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{

<ul class="nav navbar-nav navbar-right">
    <li style="color:white; padding-top:15px;">@Session["username"]</li>

    <li>@Html.ActionLink("Logout", "Login", "User", null, new { id = "registerLink", onclick = "return alert('Logged out successfully');", style = "display:flex" })</li>

</ul>
}
